---
layout: page
title:  'Illustrations'
---
<!-- START CONTENT -->
<div class="container-fluid">
  <div class="row gx-5">
    <!-- Sidebar dla desktop -->
    <div class="col-md-3 col-xl-2 d-none d-md-block bd-sidebar">
      <nav class="bd-links" id="bd-docs-nav" aria-label="Categories navigation">
        <div class="bd-toc-item">

          {% include sidebar-menu.html %}

          <h6 class="mb-3 fw-normal">Categories</h6>
          <ul class="nav flex-column">
            {% assign categories = "" %}
            {% for file in site.static_files %}
              {% if file.path contains '/assets/illustrations/' %}
                {% assign path_parts = file.path | split: '/' %}
                {% assign category_name = path_parts[3] %}
                {% unless categories contains category_name %}
                  {% assign categories = categories | append: category_name | append: "," %}
                {% endunless %}
              {% endif %}
            {% endfor %}
            {% assign categories = categories | split: ',' | uniq %}

            {% for category in categories %}
              {% unless category == "" %}
                {% assign count = 0 %}
                {% for avatar in site.static_files %}
                  {% assign avatar_parts = avatar.path | split: '/' %}
                  {% if avatar_parts[3] == category %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}

                <li class="nav-item">
                  <a class="d-flex link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 mb-2 opacity-75" href="#{{ category | replace: ' ', '-' }}">
                    {{ category | capitalize }}
                    <small class="text-secondary text-end ms-auto opacity-75">
                      {{ count }}
                    </small>
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>

      <!-- START RIGHT CONTENT -->
  <div class="col-xl-10 col-sm-12 col-md-9 pt-5">

    <h1 class="mb-4 fw-normal"><span class="text-primary">220+</span> Illustrations<br />for Your Design Systems and Docs</h1>
    <p class="lead text-opacity-75 text-secondary fw-normal">Discover a vast collection of free, high-quality illustrations designed specifically for documentation, frameworks, and design systems. Enhance your projects with our easily accessible and professionally crafted illustrations.</p>

  <div class="pt-3 d-flex flex-column flex-md-row">
    <a class="btn btn-primary btn-lg rounded-pill ps-4 pe-4 mb-2 mb-md-0 me-md-2 fw-normal fs-6"
      href="https://github.com/0wczar/saasui-illustrations/raw/refs/heads/illustrations/assets/illustrations.zip"
      download>
      <i class="fa fa-download me-2 opacity-50"></i>
      Download All Illustrations
    </a>
    <a class="btn btn-outline-primary btn-lg rounded-pill ps-4 pe-4 fw-normal fs-6"
      href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" target="_blank">
      <i class="fa-brands fa-figma me-2"></i>
      Preview in Figma
    </a>
  </div>



    <hr class="my-5 text-secondary" style="border-style: dashed;" />

    <!-- Pobieranie katalogów (kategorii) z katalogu głównego /assets/avatars/ -->
    {% assign categories = "" %}
    {% for file in site.static_files %}
      {% if file.path contains '/assets/illustrations/' %}
        {% assign path_parts = file.path | split: '/' %}
        {% assign category_name = path_parts[3] %}
        {% unless categories contains category_name %}
          {% assign categories = categories | append: category_name | append: "," %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {% assign categories = categories | split: ',' | uniq %}

    {% for category in categories %}
      {% unless category == "" %}

        <!-- START Category Header -->
        <h5 class="my-4 fw-normal" id="{{ category | replace: ' ', '-' }}">
          {{ category | capitalize }}
          <small class="text-secondary text-opacity-75 ms-2 fw-normal">
            {% assign count = 0 %}
            {% for avatar in site.static_files %}
              {% assign avatar_parts = avatar.path | split: '/' %}
              {% if avatar_parts[3] == category %}
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
            {{ count }}
          </small>
        </h5>
        <!-- END Category Header -->

        <div class="row">
          {% for avatar in site.static_files %}
            {% assign avatar_parts = avatar.path | split: '/' %}
            {% if avatar_parts[3] == category %}
              {% assign filename = avatar.path | split: '/' | last | split: '.' | first %}

              <div class="col-md-6 col-xl-4 col-lg-6 col-xxl-3 mb-4">
                <!-- START Card -->
                {% include card.html %}
                <!-- END Card -->
              </div>

              <!-- START Modal -->
              {% include modal.html %}
              <!-- END Modal -->
            {% endif %}
          {% endfor %}
        </div>

      {% endunless %}
    {% endfor %}

  </div>
  <!-- END RIGHT Content -->

  </div>
</div>
<!-- END CONTENT -->

<!-- Offcanvas sidebar dla mobile -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
  <div class="offcanvas-header border-bottom border-light-subtle">
    <h5 class="offcanvas-title" id="mobileSidebarLabel">Categories</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="bd-links" aria-label="Categories navigation">
      <div class="bd-toc-item">

        {% include sidebar-menu.html %}
        <h6 class="mb-4 fw-normal">Categories</h6>

        <ul class="nav flex-column">
          {% for category in categories %}
            {% unless category == "" %}
              {% assign count = 0 %}
              {% for avatar in site.static_files %}
                {% assign avatar_parts = avatar.path | split: '/' %}
                {% if avatar_parts[3] == category %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}

              <li>
                <a href="#{{ category | replace: ' ', '-' }}" class="d-flex link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 mb-2 opacity-75">
                  {{ category | capitalize }}
                  <small class="text-secondary text-end ms-auto opacity-75">
                    {{ count }}
                  </small>
                </a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  // Funkcja do płynnego przewijania
  function smoothScroll(target) {
    const element = document.querySelector(target);
    if (element) {
    window.scrollTo({
      top: element.offsetTop - 20, // Dodajemy małe przesunięcie
      behavior: 'smooth'
    });
    }
  }

  // Obsługa linków w desktopowym sidebarze
  document.querySelectorAll('.bd-sidebar .nav-link').forEach(link => {
    link.addEventListener('click', function(e) {
    e.preventDefault();
    smoothScroll(this.getAttribute('href'));
    });
  });

  // Obsługa linków w offcanvas menu
  const offcanvasElement = document.getElementById('mobileSidebar');
  const bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);

  offcanvasElement.addEventListener('hide.bs.offcanvas', function () {
    const activeLink = this.querySelector('.offcanvas-link.active');
    if (activeLink) {
      setTimeout(() => {
        smoothScroll(activeLink.getAttribute('href'));
      }, 300);
    }
  });

  document.querySelectorAll('.offcanvas-link').forEach(link => {
    link.addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelectorAll('.offcanvas-link').forEach(l => l.classList.remove('active'));
    this.classList.add('active');
    bsOffcanvas.hide();
    });
  });
  });
</script>

