                    <div class="card card-custom rounded-3 border overflow-auto shadow-sm">
                      <img src="{{ avatar.path }}" class="card-img-top h-25 bg-light" alt="{{ filename | capitalize }}" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.index }}-{{ category }}">
                      <div class="card-body">
                          <h6 class="link-dark fw-normal mb-1">
                            {{ filename | capitalize }}
                          </h6>
                          <p class="card-text">
                            <small>
                              <samp class="fw-normal text-opacity-75" >/{{ category | capitalize }}</samp>
                            </small>  
                          </p>
                      </div>
                    </div>