                    <div class="card shadow-sm">
                      <img src="{{ avatar.path }}" class="card-img-top h-25" alt="{{ filename | capitalize }}" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.index }}-{{ category }}">
                      <div class="list-group list-group-flush border-0">
                        <button type="button" class="p-3 list-group-item list-group-item-action" aria-current="true" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.index }}-{{ category }}">
                          <h6 class="link-dark fw-normal mb-1">
                            {{ filename | capitalize }}
                          </h6>
                          <p class="card-text text-secondary">
                            <small>
                              <samp>/{{ category | capitalize }}</samp>
                            </small>  
                          </p>
                        </button>
                      </div>
                    </div>