		<!-- START Footer -->
		<footer class="border-top border-light-subtle py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="mb-4">
							<a class="navbar-brand mb-4" href="#">
							<img src="{{page.root}}assets/saas-ui-logo.svg" alt="Bootstrap"  height="32">
						  </a>
						</div>
						<p class="text-secondary text-opacity-75">
							Beautifully designed and expertly crafted components and templates, created by the SaaS UI team. The ideal foundation for your next project.
						</p>
					</div>
					<div class="col-md-6">
						<div class="hstack gap-3 d-flex justify-content-end">
							<a class="link-custom opacity-50" href="https://github.com/saas-js/saas-ui-illustrations" target="_blank">
								<i class="fa fa-brand fa-xl fa-github"></i>
							</a>
							<a class="link-custom opacity-50" href="https://tomaszo.dribbble.com" target="_blank">
								<i class="fa fa-brand fa-xl fa-dribbble"></i>
							</a>
							<a class="link-custom opacity-50" href="https://x.com/towcza" target="_blank">
								<i class="fa fa-brand fa-xl fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<hr class="border-secondary border-opacity-50" />
				<div class="d-flex">
					<p class="text-secondary opacity-75">
						© 2024 <a href="https://saas-ui.dev">Saas UI B.V.</a> All rights reserved.
					</p>
					<span class="hstack gap-3 ms-auto">
						<a href="mailto:dekoracja_trojnik.05@icloud.com" class="ms-auto link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 opacity-75" target="_blank">Contact</a>
						<a href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" class="ms-auto link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 opacity-75" target="_blank">Figma</a>
					</span>
				</div>
			</div>
		</footer>
		<!-- END Footer -->