
                  <div class="modal fade" id="modal-{{ forloop.index }}-{{ category }}" tabindex="-1" aria-labelledby="modalLabel-{{ forloop.index }}-{{ category }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content border-0">
                        <div class="modal-header border-bottom-0 px-4 pb-4">
                          <h3 class="modal-title fw-normal" id="modalLabel-{{ forloop.index }}-{{ category }}">{{ filename | capitalize }}</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pt-0 px-4">
                          <img src="{{ avatar.path }}" class="img-fluid w-100 mb-3 rounded border bg-light" alt="{{ filename | capitalize }}">

                          <table class="table">
                            <tbody>
                              <tr>
                                <td class="text-secondary">Title</td>
                                <td class="text-end fw-normal">{{ filename | capitalize }}</td>
                              </tr>
                              <tr>
                                <td class="text-secondary">Category</td>
                                <td class="text-end fw-normal"><code class="text-secondary text-opacity-75">/{{ category | capitalize }}</code></td>
                              </tr>
                              <tr>
                                <td class="text-secondary border-bottom-0">Link</td>
                                <td class="text-end border-bottom-0">
                                  <a href="{{ avatar.path }}" download class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <i class="fa fa-circle-down me-2"></i>Download
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>