<!-- START Navbar -->
<nav class="navbar navbar-expand-md bg-white  px-sm-0 px-md-3 fixed-top shadow-sm">
	<div class="container-fluid container-xxl">
	  <!-- Categories button - po lewej stronie, taki sam jak hamburger menu -->
	  <button class="navbar-toggler d-md-none py-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
		<i class="fa fa-bars fa-fw"></i>
	  </button>
  
	  <!-- Logo SaasUI na środku -->
	  <a class="navbar-brand mx-auto d-flex align-items-center" href="{{page.root}}/">
		<img src="{{page.root}}assets/saas-ui-logo.svg" alt="Saas UI Logo" height="32">
	  </a>

	<div class="navbar-text ps-2 d-none d-md-block">
		<div class="rounded-pill ps-3 pe-3 py-1 border border-secondary-subtle text-secondary fw-normal"
			style="border-style: dashed !important; font-size: 13px;">
			<samp class="opacity-75">v1.0</samp>
		</div>
	</div>
  
	  <!-- Przycisk menu dla mobilnych urządzeń -->
	  <button class="navbar-toggler d-md-none py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-ellipsis fa-fw"></i>
	  </button>
  
	  <div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav ms-auto mb-2 mb-md-0 align-items-center">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/">Illustrations</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link opacity-75" href="https://tomaszo.dribbble.com" target="_blank">Contact</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link opacity-75" href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" target="_blank">Figma</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link opacity-75" href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" target="_blank">Download</a>
		  </li>
		  <li class="nav-item d-none d-md-flex align-items-center">
			<div class="vr ms-3 me-4 bg-dark bg-opacity-75"></div>
		  </li>
		  
		  <li class="nav-item">
				<!-- GitHub Star button -->
				<div class="ms-auto d-flex align-items-center pt-2">
					<a class="github-button" 
					href="https://github.com/0wczar/saasui-illustrations" 
					data-size="small" 
					data-show-count="true" 
					aria-label="Star 0wczar/saasui-illustrations on GitHub">
					Star
					</a>
				</div>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <!-- END Navbar -->
