    <h6 class="mb-3 fw-normal mt-1">Menu</h6>
    <ul class="list-unstyled">
      <a href="/" class="d-flex align-items-center pt-2 fw-normal link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0">
        <div class="px-2 py-1 me-3 border bg-white border rounded shadow-sm">
          <div class="fa-1x">
            <i class="fa-duotone fa-bezier-curve fa-fw" style="color: var(--bs-cyan-500);"></i>
          </div>
        </div>
        <span class="opacity-75">Illustrations</span>
      </a>

      <a href="https://github.com/0wczar/airframe-illustrations" target="_blank" class="d-flex align-items-center pt-2 link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0">
        <div class="px-2 py-1 me-3 border bg-white border rounded shadow-sm">
          <div class="fa-1x">
            <i class="fa-duotone fa-diamonds-4 fa-fw" style="color: var(--bs-purple-500);"></i>
          </div>
        </div>
        <span class="opacity-75">Figma</span>
      </a>

      <a href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" target="_blank" class="d-flex align-items-center pt-2 link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0">
        <div class="px-2 py-1 me-3 border bg-white border rounded shadow-sm">
          <div class="fa-1x">
            <i class="fa-duotone fa-code-branch fa-fw" style="color: var(--bs-blue-500);"></i>
          </div>
        </div>
        <span class="opacity-75">Github</span>
      </a>

      <a href="#"  class="d-flex align-items-center pt-2 link-custom link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0">
        <div class="px-2 py-1 me-3 border bg-white border rounded shadow-sm">
          <div class="fa-1x">
            <i class="fa-duotone fa-paper-plane fa-fw" style="color: var(--bs-yellow-500);"></i>
          </div>
        </div>
        <span class="opacity-75">Contact</span>
      </a>

    </ul>

    <hr class="my-4 text-secondary" style="border-style: dashed;" />