    <h6 class="mb-3 fw-normal">Menu</h6>
    <ul class="list-unstyled">
      <a href="/" class="d-flex align-items-center pt-2 fw-normal link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark">
        <div class="px-2 py-1 me-3 border rounded" style="border-color: var(--bs-cyan-300) !important; background-color: var(--bs-cyan-100); color: var(--bs-cyan-700);">
          <i class="fa fa-image fa-xs fa-fw"></i>
        </div>
        Illustrations
      </a>

      <a href="https://github.com/0wczar/airframe-illustrations" target="_blank" class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-secondary text-opacity-75">
        <div class="bg-primary-subtle px-2 py-1 me-3 border rounded border-primary-subtle shadow-sm">
          <i class="fa fa-code text-primary-emphasis fa-xs fa-fw"></i>
        </div>
        Github
      </a>

      <a href="https://www.figma.com/community/file/1369627302822996190/framework-illustrations" target="_blank" class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-secondary text-opacity-75">
        <div class="px-2 py-1 me-3 border rounded shadow-sm" style="border-color: var(--bs-blue-200) !important; background-color: var(--bs-blue-100); color: var(--bs-blue-700);">
          <i class="fa fa-arrow-pointer fa-xs fa-fw"></i>
        </div>
        Figma
      </a>

      <a href="#"  class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-secondary text-opacity-75">
        <div class="px-2 py-1 me-3 border rounded shadow-sm" style="border-color: var(--bs-yellow-300) !important; background-color: var(--bs-yellow-100); color: var(--bs-yellow-700);">
          <i class="fa fa-envelope fa-xs fa-fw"></i>
        </div>
        Contact
      </a>

    </ul>

    <hr class="my-4 text-secondary text-opacity-75" />