    <h6 class="mb-3 fw-normal">Menu</h6>
    <ul class="list-unstyled">
      <a href="#" class="d-flex align-items-center pt-2 fw-normal link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-secondary">
        <div class="bg-danger-subtle px-2 py-1 me-3 border rounded border-danger-subtle shadow-sm">
          <i class="fa fa-image text-danger-emphasis fa-xs fa-fw"></i>
        </div>
        Illustrations
      </a>

      <a href="#" class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-secondary">
        <div class="bg-primary-subtle px-2 py-1 me-3 border rounded border-primary-subtle shadow-sm">
          <i class="fa fa-code text-primary-emphasis fa-xs fa-fw"></i>
        </div>
        Github
      </a>

      <a href="#" class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-secondary">
        <div class="bg-success-subtle px-2 py-1 me-3 border rounded border-success-subtle shadow-sm">
          <i class="fa fa-arrow-pointer text-success-emphasis fa-xs fa-fw"></i>
        </div>
        Figma
      </a>

      <a href="#"  class="d-flex align-items-center pt-2 link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-secondary">
        <div class="bg-warning-subtle px-2 py-1 me-3 border rounded border-warning-subtle shadow-sm">
          <i class="fa fa-envelope text-warning-emphasis fa-xs fa-fw"></i>
        </div>
        Contact
      </a>

    </ul>

    <hr class="my-4" />